/.idea
/.vscode
/node_modules
/public/hot
/public/storage
/storage/mysql-data/
/storage/*.key
/vendor
fcm.json
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
error_log
chat-app-1114c-firebase-adminsdk-8cnon-63014f9d77.json
.codex
